<article class="event">
    <div class="title">
        <h2>{{eventName}}</h2>
    </div>
    <div>
        <p>{{description}}</p>
    </div>
    <div class="meta">
        <a href="/event/{{id}}">{{comment.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>