<article class="event">
    <div class="title">
        <a href="{{event_url}}" target="_blank">{{title}}</a>
        <span>({{format_url event_url}})</span>
    </div>
    <div class="meta">
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>