<article>
  <a href="./dashboard.handlebars"> &larr; Back to dashboard</a>
  <h2>
    Edit Event
  </h2>
  <form class="edit-event-form">
    <div>
      <input name="event-name" type="text" value="{{event.eventName}}" />
    </div>
    <div>
      <textarea name="event-description">{{event.description}}</textarea>
    </div>
    <div>
      <a href="/post/{{post.id}}">{{event.comments.length}} {{format_plural "comment" event.comments.length}}</a>
    </div>
    <button type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </form>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>

{{> comments event.comment}}

<!--Scripts-->
<script src="../public/js/edit-event.js"></script>
<script src="../public/js/delete-event.js"></script>
<script src="../public/js/comment.js"></script>